.button{
  border-style: none;
  border-radius: 3px;
  height: 40px;
  padding: 6px 12px;
  background-color: black;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  transition: box-shadow .6s ease;
}

.button.blue{
  background-color: #1FB6FF;
}

.button.green{
  background-color: #13CE66;
}

.button.red{
  background-color: #F55A4E;
}

.button.yellow{
  background-color: #FEC928;
}

.button:hover{
  box-shadow: inset 200px 0 0 #00000044;
}

.box {
  margin: 0 auto;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  max-width: 100%;
  font-size: 1.5rem;
  /* 20px */
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 1rem 2rem;
  /* 10px 20px */
}

.no-js .inputfile + label {
  display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
  /* pointer-events: none; */
  /* in case of FastClick lib use */
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */
}

/* style 1 */

.inputfile-1 + label {
  color: #f1e5e6;
  background-color: #d3394c;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
  background-color: #722040;
}